<a href="https://colab.research.google.com/github/Arthurads-rj/portfolio-data-science/blob/main/Exemplo%20de%20Linear%20Regression/ML1_Notas_de_Alunos.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Uso do algoritmo Linear Regression

Nesse projeto, foi usado o algoritmo de regressão linear para fazer as previsões das **notas finais** de alunos em uma escola.

Esse algoritmo foi escolhido por conta da situação e facilidade de uso. Como eu estava mexendo só com números inteiros, esse algoritmo é o mais indicado.

In [ ]:
import pandas as pd
import numpy as np
import sklearn
from sklearn import linear_model
from sklearn.utils import shuffle
import matplotlib.pyplot as pyplot

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

Depois de importar as bibliotecas necessárias, usei o comando describe() para saber se tinha valores faltando na tabela, além de outras curiosidades interessantes que talvez fossem vir a ser úteis para a análise de dados.

In [ ]:
dados = pd.read_csv('../content/drive/MyDrive/Planilhas/student-mat.csv')

dados.describe()

              age        Medu        Fedu  ...          G1          G2          G3
count  395.000000  395.000000  395.000000  ...  395.000000  395.000000  395.000000
mean    16.696203    2.749367    2.521519  ...   10.908861   10.713924   10.415190
std      1.276043    1.094735    1.088201  ...    3.319195    3.761505    4.581443
min     15.000000    0.000000    0.000000  ...    3.000000    0.000000    0.000000
25%     16.000000    2.000000    2.000000  ...    8.000000    9.000000    8.000000
50%     17.000000    3.000000    2.000000  ...   11.000000   11.000000   11.000000
75%     18.000000    4.000000    3.000000  ...   13.000000   13.000000   14.000000
max     22.000000    4.000000    4.000000  ...   19.000000   19.000000   20.000000

[8 rows x 16 columns]

E aqui, usei o comando head() para ver as cinco primeiras linhas da tabela para ter uma noção dos dados apresentados.

Tenham em mente que G1, G2 E G3 é, respectivamente, Grade 1 (Nota 1), Grade 2 (Nota 2) e Grade 3 (Nota 3).

In [ ]:
dados.head()

  school sex  age address famsize Pstatus  ...  Walc  health absences  G1  G2  G3
0     GP   F   18       U     GT3       A  ...     1       3        6   5   6   6
1     GP   F   17       U     GT3       T  ...     1       3        4   5   5   6
2     GP   F   15       U     LE3       T  ...     3       3       10   7   8  10
3     GP   F   15       U     GT3       T  ...     1       5        2  15  14  15
4     GP   F   16       U     GT3       T  ...     2       5        4   6  10  10

[5 rows x 33 columns]

Aqui esta todo o código utilizado. Usei features que achei que seriam relevantes para a máquina prever como o tempo de estudo, a primeira e a segunda nota, falhas, tempo livre e faltas.

no final, a precisão das previsões ficaram com uma media de 77%~87%.

20% dos dados da tabela foram usados para treinar a máquina para as previsões e os resultados podem ser arredondados.

Na parte de Notas, é para se ler como:
Notas: [G1], [G2], [Tempo de estudo], [Falhas], [Faltas], [Tempo Livre]

In [ ]:
dados_features = ['G1', 'G2', 'studytime', 'failures', 'absences', 'freetime']

prever = 'G3'
#features usados
X = np.array(dados[dados_features])

y = np.array(dados[prever])

x_treino, x_teste, y_treino, y_teste  = sklearn.model_selection.train_test_split(X, y, test_size=0.2)

linear = linear_model.LinearRegression()

linear.fit(x_treino, y_treino)
prec = linear.score(x_teste, y_teste)

print(f'Precisão: {prec:.0%}')

previsoes = linear.predict(x_teste)
for x in range(len(previsoes)):
  print(f'Previsão: {previsoes[x]:.2f}, Notas: {x_teste[x]}, Resultado final: {y_teste[x]}')
  print()

Precisão: 80%
Previsão: 8.17, Notas: [ 7 10  3  1  0  1], Resultado final: 10

Previsão: 7.08, Notas: [8 8 2 0 0 3], Resultado final: 0

Previsão: 14.33, Notas: [14 14  1  0  2  4], Resultado final: 13

Previsão: 7.87, Notas: [11  8  2  0  2  4], Resultado final: 8

Previsão: 6.28, Notas: [8 7 1 1 7 3], Resultado final: 8

Previsão: 13.16, Notas: [11 13  1  1 10  5], Resultado final: 13

Previsão: 5.62, Notas: [7 7 2 3 5 3], Resultado final: 7

Previsão: 11.06, Notas: [13 11  2  0  0  4], Resultado final: 10

Previsão: 14.17, Notas: [15 14  2  0  8  2], Resultado final: 14

Previsão: 14.61, Notas: [15 14  2  0  2  5], Resultado final: 14

Previsão: 14.71, Notas: [14 15  2  0  0  2], Resultado final: 16

Previsão: 5.29, Notas: [6 7 2 3 0 3], Resultado final: 0

Previsão: 9.23, Notas: [ 9 10  3  0  4  3], Resultado final: 10

Previsão: 7.96, Notas: [10  8  2  0 10  4], Resultado final: 8

Previsão: 11.94, Notas: [13 12  2  1  2  4], Resultado final: 12

Previsão: 6.56, Notas: [ 9  7  2  1 20  2], Resultado final: 8

Previsão: 8.74, Notas: [10  9  2  0  4  4], Resultado final: 11

Previsão: 7.80, Notas: [ 9  8  2  1 15  4], Resultado final: 8

Previsão: 11.30, Notas: [ 8 12  1  0  0  4], Resultado final: 12

Previsão: -1.06, Notas: [6 0 2 0 0 3], Resultado final: 0

Previsão: 14.47, Notas: [15 14  4  0  4  5], Resultado final: 14

Previsão: 9.72, Notas: [12 10  3  0 10  2], Resultado final: 12

Previsão: 12.76, Notas: [14 13  4  0  0  3], Resultado final: 14

Previsão: 10.09, Notas: [11 11  4  0  0  2], Resultado final: 11

Previsão: 14.00, Notas: [15 14  3  0  6  2], Resultado final: 14

Previsão: 8.43, Notas: [8 9 1 0 8 3], Resultado final: 10

Previsão: 15.45, Notas: [16 15  3  0  9  3], Resultado final: 16

Previsão: 10.47, Notas: [12 11  2  0  0  2], Resultado final: 12

Previsão: 6.25, Notas: [7 7 3 0 6 4], Resultado final: 7

Previsão: 12.48, Notas: [13 13  3  0  0  2], Resultado final: 13

Previsão: 10.22, Notas: [ 8 11  2  0  0  4], Resultado final: 11

Previsão: 7.70, Notas: [8 9 2 0 2 1], Resultado final: 8

Previsão: 16.83, Notas: [17 16  2  0  0  5], Resultado final: 16

Previsão: 5.62, Notas: [8 7 2 3 0 3], Resultado final: 0

Previsão: 6.32, Notas: [ 6  7  2  1 15  4], Resultado final: 8

Previsão: 7.76, Notas: [8 9 2 0 4 1], Resultado final: 10

Previsão: 17.32, Notas: [16 17  3  0  0  4], Resultado final: 17

Previsão: 13.74, Notas: [11 14  1  0  6  3], Resultado final: 14

Previsão: 10.50, Notas: [10 11  1  0  8  2], Resultado final: 10

Previsão: 4.85, Notas: [ 6  6  2  1 13  2], Resultado final: 8

Previsão: 7.57, Notas: [10  8  1  3  3  5], Resultado final: 7

Previsão: 9.06, Notas: [ 7 10  2  0  6  3], Resultado final: 10

Previsão: 18.15, Notas: [16 18  3  0  2  3], Resultado final: 18

Previsão: 5.41, Notas: [ 6  6  2  2 22  4], Resultado final: 4

Previsão: 9.50, Notas: [10 10  2  0  4  3], Resultado final: 10

Previsão: 15.62, Notas: [16 15  2  0 11  3], Resultado final: 15

Previsão: 16.41, Notas: [15 16  3  0  7  4], Resultado final: 15

Previsão: 11.49, Notas: [13 11  3  1 40  1], Resultado final: 11

Previsão: 12.11, Notas: [14 12  2  0 10  2], Resultado final: 11

Previsão: 16.30, Notas: [16 16  2  0  2  3], Resultado final: 17

Previsão: 7.21, Notas: [ 8  8  4  0 10  3], Resultado final: 8

Previsão: 6.14, Notas: [7 7 1 0 3 3], Resultado final: 8

Previsão: 9.27, Notas: [ 9 10  2  0  2  3], Resultado final: 9

Previsão: 12.99, Notas: [12 13  1  1  6  4], Resultado final: 14

Previsão: 16.47, Notas: [18 16  3  0  0  3], Resultado final: 16

Previsão: 14.86, Notas: [13 15  3  0  0  4], Resultado final: 15

Previsão: 12.70, Notas: [12 13  2  0  2  3], Resultado final: 13

Previsão: 14.84, Notas: [14 15  2  0  4  2], Resultado final: 15

Previsão: 12.46, Notas: [11 13  4  0  6  3], Resultado final: 14

Previsão: 8.21, Notas: [10  9  3  0  4  2], Resultado final: 9

Previsão: 11.61, Notas: [12 12  1  0  2  2], Resultado final: 11

Previsão: 7.62, Notas: [ 9  8  2  1 16  3], Resultado final: 7

Previsão: 9.99, Notas: [11 10  2  1 12  4], Resultado final: 10

Previsão: 3.95, Notas: [6 5 2 0 4 3], Resultado final: 6

Previsão: 10.69, Notas: [10 11  2  0  4  4], Resultado final: 9

Previsão: 13.33, Notas: [13 13  1  0  0  5], Resultado final: 12

Previsão: 11.15, Notas: [ 9 12  3  0  3  3], Resultado final: 11

Previsão: 13.92, Notas: [12 14  1  0  0  4], Resultado final: 15

Previsão: 9.00, Notas: [10 10  3  2  8  2], Resultado final: 10

Previsão: 15.74, Notas: [16 15  1  0  5  4], Resultado final: 16

Previsão: 12.53, Notas: [11 13  2  0  2  3], Resultado final: 13

Previsão: 9.48, Notas: [10 10  3  0  0  4], Resultado final: 9

Previsão: 18.40, Notas: [16 18  2  0  0  4], Resultado final: 18

Previsão: 8.94, Notas: [10  9  2  0 10  4], Resultado final: 10

Previsão: 8.84, Notas: [ 8 10  1  0  4  1], Resultado final: 10

Previsão: 3.59, Notas: [6 5 2 0 6 1], Resultado final: 6

Previsão: 15.63, Notas: [15 15  2  0 10  4], Resultado final: 15

Previsão: 8.40, Notas: [10  9  4  0  0  4], Resultado final: 0

Previsão: 13.99, Notas: [13 14  2  0  0  4], Resultado final: 15

# Gráficos
Logo abaixo, temos gráficos mostrando a correlação entre tempo de estudo, tempo livre, faltas e falhas com a nota final.

In [ ]:
pyplot.scatter(dados['G1'], dados['G3'])
pyplot.xlabel('Primeira Nota')
pyplot.ylabel('Nota final')
pyplot.show()

In [ ]:
pyplot.scatter(dados['G2'], dados['G3'])
pyplot.xlabel('Segunda Nota')
pyplot.ylabel('Nota final')
pyplot.show()

In [ ]:
pyplot.scatter(dados['studytime'], dados['G3'])
pyplot.xlabel('Tempo de estudo')
pyplot.ylabel('Nota final')
pyplot.show()

In [ ]:
pyplot.scatter(dados['failures'], dados['G3'])
pyplot.xlabel('Falhas')
pyplot.ylabel('Nota final')
pyplot.show()

In [ ]:
pyplot.scatter(dados['absences'], dados['G3'])
pyplot.xlabel('Faltas')
pyplot.ylabel('Nota final')
pyplot.show()

In [ ]:
pyplot.scatter(dados['freetime'], dados['G3'])
pyplot.xlabel('Tempo Livre')
pyplot.ylabel('Nota final')
pyplot.show()

Vimos que:


*   Alunos com o maior tempo de estudo tem tendência a conseguir a nota máxima.
*   Alunos com grande numero de falhas não conseguiriam uma boa nota final.
*   Alunos com uma média de duas(2) horas de tempo livre teriam um bom desempenho.
*   Alunos com poucas faltas teriam um melhor desempenho que aqueles com muitas faltas.